#!/usr/bin/env bash

export ghc=9.6.3
export hls=2.5.0.0
export stack=2.13.1
export cabal=3.6.2.0

RED='\033[0;31m'
NC='\033[0m' # No Color

# Check if selected versions of tools are installed
declare -A tools
tools+=(
   [GHC]=$ghc
   [HLS]=$hls
   [Stack]=$stack
   [Cabal]=$cabal
 )
for tool in ${!tools[@]}; do
  version=${tools[$tool]}
  ghcup list \
    --tool $tool \
    --show-criteria installed \
    --raw-format \
    2> /dev/null | \
    cut -d ' ' -f 2 | \
    grep -q $version || \
    printf "${RED}Warning: The environment specifies $tool version $version, but it is not installed${NC}.\n"
done

CTB=$($PWD/.bin/runstack path --compiler-tools-bin 2>/dev/null)
export PATH="$CTB:$PATH"
export PATH="$PWD/.bin:$PATH"
